<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- <script>
        $(document).ready(function(){
            
            $("airportForm").submit(function(){
                alert("Submitted");
                var code = document.getElementById("airportCode").value;
                alert(code);

            });
        });
        </script> -->
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
        }
        .navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial;
        }
        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .dropdown {
            float: left;
            overflow: hidden;
        }
        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
        }
        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 100%;
            left: 0;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content .header {
            background: red;
            padding: 16px;
            color: white;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        /* Create three equal columns that floats next to each other */
        .column {
            float: center;
            width: 33.33%;
            padding: 10px;
            background-color: #ccc;
            height: 250px;
        }
        .column a {
            float: none;
            color: black;
            padding: 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        .column a:hover {
            background-color: #ddd;
        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>


</head>
<body>


<script>
    function myFunction() {
    
    }
</script>


<div class = "navbar">
    <a href="#admin">ADMIN</a>

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">INSERT
            <i class="fa fa-caret-down"></i>
        </button>
        <div id="myDropdown" class="dropdown-content">
            <div class="row">
                <div class="column">
                    <a href="#airport" onclick="showAirport();">Airport</a>
                    <a href="#business" onclick="showBusiness();">Business</a>
                    <a href="#city" onclick="showCity();">City</a>
                    <a href="#community" onclick="showComm();">Community Involvement</a>
                    <a href="#resident" onclick="showResident();">Residential Area</a>
                    <a href="#hotel" onclick="showHotel();">Hotel</a>
                    <a href="#internet" onclick="showInternet();">Internet</a>
                    <a href="#interstate" onclick="showInterstate();">Interstate</a>
                    <a href="#techarea" onclick="showTech();">Tech Area</a>
                    <a href="#university" onclick="showUni();">University</a>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">UPDATE
                <i class="fa fa-caret-down"></i>
            </button>
            <div id="myDropdown2" class="dropdown-content">
                <div class="row">
                    <div class="column">
                        <a href="#airport" onclick="showAirport();">Airport</a>
                        <a href="#business" onclick="showBusiness();">Business</a>
                        <a href="#city" onclick="showCity();">City</a>
                        <a href="#community" onclick="showComm();">Community Involvement</a>
                        <a href="#resident" onclick="showResident();">Residential Area</a>
                        <a href="#hotel" onclick="showHotel();">Hotel</a>
                        <a href="#internet" onclick="showInternet();">Internet</a>
                        <a href="#interstate" onclick="showInterstate();">Interstate</a>
                        <a href="#techarea" onclick="showTech();">Tech Area</a>
                        <a href="#university" onclick="showUni();">University</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">DELETE
                <i class="fa fa-caret-down"></i>
            </button>
            <div id="myDropdown3" class="dropdown-content">
                <div class="row">
                    <div class="column">
                        <a href="#airport" onclick="showAirport();">Airport</a>
                        <a href="#business" onclick="showBusiness();">Business</a>
                        <a href="#city" onclick="showCity();">City</a>
                        <a href="#community" onclick="showComm();">Community Involvement</a>
                        <a href="#resident" onclick="showResident();">Residential Area</a>
                        <a href="#hotel" onclick="showHotel();">Hotel</a>
                        <a href="#internet" onclick="showInternet();">Internet</a>
                        <a href="#interstate" onclick="showInterstate();">Interstate</a>
                        <a href="#techarea" onclick="showTech();">Tech Area</a>
                        <a href="#university" onclick="showUni();">University</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <form action="/signup" method="post" id="airportForm">
    <div id ="airp" style="display: none;">
        <div class="1">
            <label>AirportCode</label>
            <input type="AirportCode" class="1" name="AirportCode" id="airportCode">
        </div>
        <div class="form-group">
            <label>AirportName</label>
            <input type="AirportName" class="1" name="AirportName" id="airportName">
        </div>
        <div class="form-group">
            <label>AirportSize</label>
            <input type="AirportSize" class="1" name="AirportSize" id="airportSize">
        </div>
        <div class="form-group">
            <label>AirportType</label>
            <input type="AirportType" class="1" name="AirportType" id="airportType">
        </div>
        <button type="submitAirport" class="btn btn-warning btn-lg">Submit Airport Table Changes</button>
    </div>
    </form>
    <div style="padding:16px">
    </div>
    
    
    
    
    <form action="/admin" method="post">
    <div id ="tech" style="display: none;">
        <div class="2">
            <label>TechAreaID</label>
            <input type="TechAreaID" class="2" name="TechAreaID">
        </div>
        <div class="fg">
            <label>#Businesses</label>
            <input type="#Businesses" class="2" name="#Businesses">
        </div>
        <button type="submitTech" class="btn btn-warning btn-lg">Submit Tech Area Table Changes</button>
    </div>
    </form>
    
    
    
    <form action="/admin" method="post">
    <div id ="business" style="display: none;">
        <div class="3">
            <label>BusinessID</label>
            <input type="BusinessID" class="2" name="BusinessID">
        </div>
        <div class="3">
            <label>#BusinessType</label>
            <input type="BusinessType" class="2" name="BusinessType">
        </div>
        <div class="3">
            <label>Competitor</label>
            <input type="Competitor" class="2" name="Competitor">
        </div>
        <div class="3">
            <label>Revenue</label>
            <input type="Revenue" class="2" name="Revenue">
        </div>
        <div class="3">
            <label>NetWorth</label>
            <input type="NetWorth" class="2" name="NetWorth">
        </div>
        <button type="submitBusiness" class="btn btn-warning btn-lg">Submit Business Table Changes</button>
    </div>
    </form>
    
    
    
    <form action="/admin" method="post">
    <div id ="internet" style="display: none;">
        <div class="4">
            <label>ISP_ID</label>
            <input type="ISP_ID" class="4" name="ISP_ID">
        </div>
        <div class="4">
            <label>SpeedOffered</label>
            <input type="SpeedOffered" class="4" name="SpeedOffered">
        </div>
        <div class="4">
            <label>ConsumerRating</label>
            <input type="ConsumerRating" class="4" name="ConsumerRating">
    </div>
        <button type="submitInternet" class="btn btn-warning btn-lg">Submit Inernet Changes</button>
        </div>
    </form>
    
    
    
    
    <form action="/admin" method="post">
    <div id ="resident" style="display: none;">
        <div class="4">
            <label>RA_ID</label>
            <input type="RA_ID" class="4" name="RA_ID">
        </div>
        <div class="4">
            <label>CrimeRate</label>
            <input type="CrimeRate" class="4" name="CrimeRate">
        </div>
        <div class="4">
            <label>Traffic</label>
            <input type="Traffic" class="4" name="Traffic">
        </div>
    
        <div class="4">
            <label>Interstate</label>
            <input type="Interstate" class="4" name="Interstate">
        </div>
        <button type="submitInterstate" class="btn btn-warning btn-lg">Submit Intestate Table Changes</button>
        </div>
    </form>
    
    
    
    
    <form action="/admin" method="post">
        <div id ="comm" style="display: none;">
            <div class="4">
                <label>CID</label>
                <input type="CID" class="4" name="CID">
            </div>
            <div class="4">
                <label>IsInvolved</label>
                <input type="IsInvolved" class="4" name="IsInvolved">
            </div>
            <div class="4">
                <label>NonProfitPartners</label>
                <input type="NonProfitPartners" class="4" name="NonProfitPartners">
            </div>
    
            <div class="4">
                <label>VolunteerProjects</label>
                <input type="VolunteerProjects" class="4" name="VolunteerProjects">
            </div>
            <button type="submitComm" class="btn btn-warning btn-lg">Submit Community Table Changes</button>
    </div>
    </form>
    
    
    
    
    
    <form action="/admin" method="post">
            <div id ="env" style="display: none;">
                <div class="4">
                    <label>cityName</label>
                    <input type="cityName" class="4" name="cityName">
                </div>
                <div class="4">
                    <label>numChargingStations</label>
                    <input type="numChargingStations" class="4" name="numChargingStations">
                </div>
                <div class="4">
                    <label>EconomicImpact</label>
                    <input type="EconomicImpact" class="4" name="EconomicImpact">
                </div>
    
                <div class="4">
                    <label>PublicTransit</label>
                    <input type="PublicTransit" class="4" name="PublicTransit">
                </div>
    
                <div class="4">
                    <label>GreenCityIndex</label>
                    <input type="GreenCityIndex" class="4" name="GreenCityIndex">
                </div>
                <div class="4">
                    <label>PovertyRating</label>
                    <input type="PovertyRating" class="4" name="PovertyRating">
                </div>
    
                <div class="4">
                    <label>PublicHealthIndex</label>
                    <input type="PublicHealthIndex" class="4" name="PublicHealthIndex">
                </div>
                <button type="submitEnv" class="btn btn-warning btn-lg">Submit Environment Table Changes</button>
    </div>
    </form>
    
    
    
    
    
    <form action="/admin" method="post">
            <div id ="inters" style="display: none;">
                <div class="4">
                    <label>InterstateID</label>
                    <input type="InterstateID" class="4" name="InterstateID">
                </div>
                <div class="4">
                    <label>#Lanes</label>
                    <input type="#Lanes" class="4" name="#Lanes">
                </div>
                <div class="4">
                    <label>Toll</label>
                    <input type="Toll" class="4" name="Toll">
                </div>
                <button type="submitInterstate" class="btn btn-warning btn-lg">Submit Interstate Table Changes</button>
    </div>
    </form>
    
    
    
    
    
    <form action="/admin" method="post">
            <div id ="uni" style="display: none;">
                <div class="4">
                    <label>UniversityName</label>
                    <input type="UniversityName" class="4" name="UniversityName">
                </div>
                <div class="4">
                    <label>Population</label>
                    <input type="Population" class="4" name="Population">
                </div>
                <div class="4">
                    <label>TechMajor</label>
                    <input type="TechMajor" class="4" name="TechMajor">
                </div>
                <div class="4">
                    <label>AvgGPA</label>
                    <input type="AvgGPA" class="4" name="AvgGPA">
                </div>
                <button type="submitUni" class="btn btn-warning btn-lg">Submit University Table Changes</button>
            </div>
    </form>
    
    
    
    
    <form action="/admin" method="post">
            <div id ="hotel" style="display: none;">
                <div class="4">
                    <label>hotelID</label>
                    <input type="hotelID" class="4" name="hotelID">
                </div>
                <div class="4">
                    <label>HotelName</label>
                    <input type="HotelName" class="4" name="HotelName">
                </div>
                <div class="4">
                    <label>rating</label>
                    <input type="rating" class="4" name="rating">
                </div>
                <div class="4">
                    <label>conventionArea</label>
                    <input type="conventionArea" class="4" name="conventionArea">
                </div>
    
                <div class="4">
                    <label>ProximityToAirport</label>
                    <input type="ProximityToAirport" class="4" name="ProximityToAirport">
                </div>
                <div class="4">
                    <label>AirportCode</label>
                    <input type="AirportCode" class="4" name="AirportCode">
                </div>
                <button type="submitHotel" class="btn btn-warning btn-lg">Submit Hotel Table Changes</button>
            </div>
    </form>
    
    
    
    
    
    
    
    <form action="/admin" method="post">
            <div id ="city" style="display: none;">
                <div class="4">
                    <label>city_id</label>
                    <input type="city_id" class="4" name="city_id">
                </div>
                <div class="4">
                    <label>cityName</label>
                    <input type="cityName" class="4" name="cityName">
                </div>
                <div class="4">
                    <label>state</label>
                    <input type="state" class="4" name="state">
                </div>
                <div class="4">
                    <label>country</label>
                    <input type="country" class="4" name="country">
                </div>
    
                <div class="4">
                    <label>Population</label>
                    <input type="Population" class="4" name="Population">
                </div>
                <div class="4">
                    <label>PopulationDensity</label>
                    <input type="PopulationDensity" class="4" name="PopulationDensity">
                </div>
    
                <div class="4">
                    <label>CitySize</label>
                    <input type="CitySize" class="4" name="CitySize">
                </div>
                <div class="4">
                    <label>AirportCode</label>
                    <input type="AirportCode" class="4" name="AirportCode">
                </div>
                <div class="4">
                    <label>TechArea</label>
                    <input type="TechArea" class="4" name="TechArea">
                </div>
                <div class="4">
                    <label>BusinessID</label>
                    <input type="BusinessID" class="4" name="BusinessID">
                </div>
    
                <div class="4">
                    <label>ISP</label>
                    <input type="ISP" class="4" name="ISP">
                </div>
                <div class="4">
                    <label>RA_ID</label>
                    <input type="RA_ID" class="4" name="RA_ID">
                </div>
    
                <div class="4">
                    <label>CID</label>
                    <input type="CID" class="4" name="CID">
                </div>
    
                <div class="4">
                    <label>InterstateID</label>
                    <input type="InterstateID" class="4" name="InterstateID">
                </div>
                <div class="4">
                    <label>UniName</label>
                    <input type="UniName" class="4" name="UniName">
                </div>
                <button type="submitCity" class="btn btn-warning btn-lg">Submit City Table Changes</button>
            </div>
    </form>
    
    <script>
        // var instance = require('./Airport.ejs');
        function showAirport(){
            //document.getElementById('hidden').style.display = "block";
            document.getElementById('airp').style.display = "block";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "none";
        }
        function showTech(){
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "block";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "none";
        }
        function showBusiness()
        {
            document.getElementById('business').style.display = "block";
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "none";
        }
        function showComm()
        {
            //document.getElementById('hidden').style.display = "block";
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "block";
            document.getElementById('env').style.display = "none";
        }
        function showE()
        {
            //document.getElementById('hidden').style.display = "block";
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "block";
        }
        function showResident()
        {
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "block";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "none";
        }
        function showHotel()
        {
            //document.getElementById('hidden').style.display = "block";
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "block";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "none";
        }
        function showInterstate()
        {
            //document.getElementById('hidden').style.display = "block";
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "block";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "none";
        }
        function showInternet()
        {
            //document.getElementById('hidden').style.display = "block";
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "block";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "none";
        }
        function showUni()
        {
            //document.getElementById('hidden').style.display = "block";
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "block";
            document.getElementById('city').style.display = "none";
            document.getElementById('env').style.display = "none";
        }
        function showCity()
        {
            document.getElementById('airp').style.display = "none";
            document.getElementById('tech').style.display = "none";
            document.getElementById('business').style.display = "none";
            document.getElementById('comm').style.display = "none";
            document.getElementById('resident').style.display = "none";
            document.getElementById('inters').style.display = "none";
            document.getElementById('internet').style.display = "none";
            document.getElementById('hotel').style.display = "none";
            document.getElementById('uni').style.display = "none";
            document.getElementById('city').style.display = "block";
            document.getElementById('env').style.display = "none";
        }
    </script>
    </body>
    </html>
